

  /* .footer {
    position: fixed;
    bottom: 0; 
    background: rgb(30, 30, 30);
    height: 4rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    z-index: 3;
    text-align: center;
  } */
  
  .footer-container {
    max-width: 960px;
    width: 100%; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .copyright {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999;
  }
  